<p>about works!</p>

<div class="site-section">
    <div class="container">
      <div class="row">
        <div class="col-lg-7">
          <h2 class="section-heading"><strong>Features</strong></h2>
          <p class="mb-5">Find what we are offering and our USP's that drive you to chose us as your travel partner.</p>    
        </div>
      </div>

      <div class="row">
        <div class="col-lg-4 mb-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="icon-home"></span>
            </span>
            <div class="service-1-contents">
              <h3>Customer Service </h3>
              <p>"Atihi Devo Bhava"- We say in Varanasi.We prove the same with our safe and comfortable customer exprience</p>
              <p class="mb-0"><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="icon-gear"></span>
            </span>
            <div class="service-1-contents">
              <h3>Well Maintained, Sanitized Cars</h3>
              <p>Cleanliness is a way of life , its our life mantra. The cars are well maintained,sanitized and well equipped always.</p>
              <p class="mb-0"><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="icon-watch_later"></span>
            </span>
            <div class="service-1-contents">
              <h3>Well Trained Drivers</h3>
              <p>Our partner drivers are well trained along with having years of experience in driving as well as customer dealing. </p>
              <p class="mb-0"><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>

        <div class="col-lg-4 mb-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="icon-verified_user"></span>
            </span>
            <div class="service-1-contents">
              <h3>Best management and quick grievance redressal</h3>
              <p>With proactive management and emapthy, we are able to provide quick redressal to our customers. Strengthening our relations with them for a long term. </p>
              <p class="mb-0"><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="icon-video_library"></span>
            </span>
            <div class="service-1-contents">
              <h3>Highest Number of Happy Customers and Counting</h3>
              <p>We have a family of happy customers choosing us over and over again for making their travel experience the best .</p>
              <p class="mb-0"><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>
        <div class="col-lg-4 mb-5">
          <div class="service-1 dark">
            <span class="service-1-icon">
              <span class="icon-vpn_key"></span>
            </span>
            <div class="service-1-contents">
              <h3>Longest Experience in Tourism Industry</h3>
              <p>We are the oldest and the most versatile car hring solutions in Varanasi. With over 10 yrs of experience in tourism industry. We are a notch ahead of all other</p>
              <p class="mb-0"><a href="#">Learn more</a></p>
            </div>
          </div>
        </div>

      </div>
    </div>
  </div>